// $green-cyan: #58e1c1;

// colors
$thm1: #b4df5e;
$thm2: rgb(255, 255, 255);
$thm3: #7A875A;

$text-color: #44473d;
$sub-text: #c1d1b2;
$color-text: $thm3;
// $color-text: #e1ebcd;

// breakpoints
$bp-s: 320px;
$bp-m: 768px;
$bp-l: 1024px;

// icon size
$icon: 25px;

$nav-height: 40px;


// // Button map
// $button-list: (
//     'default': $default-color,
//     'error':$error-color,
//     'info': $info-color,
//     'success': $success-color,
//     'warning': $warning-color,
// );
